%h1 Oops, something went wrong

%p
  If you think this page used to exist, but isn't working,
  please #{link_to "let me know", 'mailto:jch@whatcodecraves.com'} - Jerry

%p
  = link_to 'Home', root_path